* {
  margin: 0;
  padding: 0; }

/*grillas*/
#grilla {
  display: grid;
  grid-template-areas: "header" "intro" "blockchain" "stacking" "tabla" "precio" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 1% 17% 11% 37% 25% 10% 2%; }

#Billetera {
  display: grid;
  grid-template-areas: "header" "billetera" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 7% 79% 3%; }

#contacto {
  display: grid;
  grid-template-areas: "header" "formulario" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 8% 77% 2%; }

/*estilos header*/
header {
  grid-area: header;
  height: 40px;
  background-color: rgba(192, 192, 192, 0.589);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  margin-left: 5px; }

ul {
  list-style: none;
  display: flex;
  margin-top: 3px; }

li a {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-right: 7px;
  text-decoration: none;
  color: black;
  flex-basis: 1%; }

li a:hover {
  color: #035f43; }

/*estilos seccion home*/
body {
  text-align: center;
  background-image: url(https://img.freepik.com/vector-gratis/textura-elegante-fondo-blanco_23-2148438404.jpg?size=626&ext=jpgg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif; }

.intro {
  grid-area: intro;
  animation-duration: 3s;
  animation-name: aparecer;
  margin-top: 30px; }

h1 {
  color: black;
  margin-top: 40px;
  margin-bottom: 20px; }

.intro__parrafo {
  color: #486353;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px; }

.blockchain {
  grid-area: blockchain;
  animation-duration: 4s;
  animation-name: aparecer; }

h2 {
  color: #035f43;
  margin: 5px 5px 5px 5px; }

.blockchain__parrafo {
  color: #486353;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0px; }

.stacking {
  grid-area: stacking;
  animation-duration: 5s;
  animation-name: aparecer; }

.badgeBg-secondary {
  background-color: #a1a1a1;
  color: #002a5a;
  border-radius: 10px;
  font-size: 70%;
  padding-left: 7px;
  padding-right: 7px; }

.interes {
  margin-top: 15px;
  margin-bottom: 15px; }

h3 {
  color: #002b5c;
  margin: 5px 0px 5px 0px; }

.table-responsive {
  grid-area: tabla;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 6s;
  animation-name: aparecer; }

.table {
  background-color: #e7e7e7b0; }

.precio {
  grid-area: precio;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-duration: 6s;
  animation-name: aparecer; }

.btn {
  color: black;
  background-color: rgba(221, 221, 221, 0.548);
  padding: 5px;
  border-radius: 8px; }

.cmc {
  text-decoration: none; }

/*Estilos seccion equipo*/
.carouselSlide {
  grid-area: carousel;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px; }

.micali {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px; }

.micali__imagen {
  margin-left: 60px; }

.micali__info {
  text-align: left;
  margin-top: 120px;
  margin-right: 60px;
  margin-bottom: 120px;
  margin-left: 50px; }

.kokinos {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px; }

.kokinos__imagen {
  margin-right: 60px; }

.kokinos__info {
  text-align: left;
  margin-left: 60px;
  margin-top: 120px; }

.ford {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px; }

.ford__imagen {
  margin-left: 60px; }

.ford__info {
  text-align: left;
  margin-top: 120px;
  margin-right: 60px;
  margin-bottom: 120px;
  margin-left: 50px; }

/*estilos seccion Soporte*/
.soporte__imagen {
  margin-top: 29px;
  margin-bottom: 20px; }

/*estilos seccion Billetera*/
.wallet__imagen {
  margin-left: auto;
  margin-top: 28px;
  margin-right: auto; }

.text {
  color: #500950; }

/*estilos seccion contacto*/
.formulario {
  margin-top: 60px;
  margin-bottom: 185px;
  grid-area: formulario; }

/*efectos*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*responsive*/
@media (max-width: 768px) {
  #grilla {
    display: grid;
    grid-template-areas: "header" "intro" "blockchain" "stacking" "tabla" "precio" "carousel" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1% 15% 17% 24% 17% 7% auto 4%; } }

/*footer*/
footer {
  display: flex;
  flex-direction: row;
  grid-area: footer;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  color: black;
  background-image: linear-gradient(#f5f4f4, gray); }

.ubicacion {
  margin-left: 40px; }

.rights {
  margin-right: 80px; }
